:root {
    --icon-color: #fff;
    --active: #34b7f1;
    --shadow-color: #eaedea;
}

.container h1 {
    position: fixed;
    left: 0;
    top: 0;
    /* height: 40px;
    line-height: 40px; */
    height: 100vh;
    line-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "system-ui";
    font-weight: normal;
    /* width: 100%; */
    width: 70px;
    color: #fff;
    text-align: center;
    /* background: rgba(255, 255, 255, 1); */
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: default;
    background: url(./img/menu-bg.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.container {
    position: relative;
}

/* .container aside {
    width: 80px;
    height: 500px;
    background-color: red;
    margin-top: 43px;
} */

.container .head_top {
    position: fixed;
    /* right: 30px;
    top: -5px; */
    left: 0;
    top: 0;
    -webkit-app-region: no-drag;
}

.head_top p {
    color: #fff;
    cursor: pointer;
    /* padding-left: 10px;
    padding-right: 15px; */
    padding-left: 7px;
    padding-right: 3px;
    display: inline-block;
}

.head_bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 70px;
    -webkit-app-region: no-drag;

    & p {
        text-align: center;
        cursor: pointer;
        height: 20px;
    }

    & i {
        color: #fff;
        cursor: pointer;
    }
    & p:hover i {
        color: var(--active) !important;
    }
}

@media (width <= 800px) {
    .container h1 {
        font-size: 16px;
    }
}
