
.Switch {
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.Switch input {
    display: none;
}

.Switch input:checked + .Switch--fake::before {
    /* background: rgba(157, 166, 216, 1); */
    background: #4071db;
}

.Switch input:checked + .Switch--fake::after {
    left: auto;
    right: 0;
    background: #ffffff;
}

.Switch--fake {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.Switch--fake::before,
.Switch--fake::after {
    content: '';
}

.Switch--fake::before {
    display: block;
    width: 35px;
    height: 20px;
    margin-top: 2px;
    background: rgba(0, 0, 0, .26);
    border-radius: 14px;
    transition: .5s ease-in-out;
}

.Switch--fake::after {
    position: absolute;
    left: 1px;
    top: 3px;
    width: 17px;
    height: 17px;
    border-radius: 20px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5);
    /* border: 1px solid rgba(0, 0, 0, .5); */
    transition: .2s;
}

.Switch input:disabled + .Switch--fake::before {
    background: rgba(0, 0, 0, .12);
}

.Switch input:disabled + .Switch--fake::after {
    left: auto;
    right: 3px;
    background: #bdbdbd;
}
